.buttonContainer{
  width:150px;
  background-color: #7cb57f;
}

.progressButton{
  width: 100%;
}

.progress{
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color:white;
}
