/* don't want css on canvas, makes it blurry
#mapCanvas{
  border: 1px solid black;
  margin: 20px;
  height: 600px;
  width: 600px;
}
*/

.msgListContainer{
  float:left;
}

.invListContainer{
  float: right;
}

.gameList{
  list-style: none;
  margin:0;
  padding:10;
}

#msgList{
  width: 250px;
}

#inventoryList{
  width:200px;
}

/*
.msgListContainer:after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}
*/
#msgList li{
}

.buttons{
  float:left;
  margin-left:50px;
}


.buttonContainer{
  width:200px;
  background-color: #7cb57f;
  margin:10px;
}

.progressButton{
  width: 100%;
}

.progress{
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color:white;
}

#makeGlassButton{
  display:none;
}

#upgradeTelescopeButton{
  display:none;
}

#placeStoneWalkButton{
  display:none;
}

#createRockHammerButton{
  display:none;
}
